.header {
    margin-top: 2%;
    margin-bottom: 3%;
}

.small-info {
    margin-top: 5%;
    text-align: center;
}
h1{
    /*color: red;*/
}

.parallax-image {
    background-image: url("../assets/img/ecommerce.jpg");
}

.parallax-image > img {
    width: 100%;
    max-height: 500px;
}

.navbar-nav > li > a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
}

.link-class {
    color: inherit;
}

.link-class:hover {
    color: inherit;
}

.section-title {
    border-bottom: 1px solid #cccccc;
    color: #999999;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 3%;
}

.cards-div > .col-md-4 {
    padding-right: 4%;
    padding-left: 4%;
}

.section-title > h2 {
    font-size: 36px;
}

.card-image > img {
    display: block;
    width: 100%;
}

.card-footer {
    font-size: 18px;
}

.short-description {
    line-height: 1.5;
    text-align: justify;
}

.card-footer > .price {
    color: #9A9A9A;
}

/* product page */

.product-info-place {

}

.photos-place {
    background-color: red;
}

.details-place {
    background-color: green;
}