.small-info {
    margin-top: 5%;
    text-align: center;
}
h1{
    /*color: red;*/
}

.parallax-image {
    background-image: url("../assets/img/ecommerce.jpg");
}

.navbar-nav > li > a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
}

/* the 3 card in a section */
.cardsDiv {
    margin: 5%;
}

.card-image {
    padding: 3%;
}

.card-product > .content {
    padding-left: 5%;
    padding-right: 5%;
}

.card-image > img {
    display: block;
    width: 100%;
}

.card-footer {
    font-size: 18px;
}

.short-description {
    line-height: 1.5;
    text-align: justify;
}

.card-footer > .price {
    color: #9A9A9A;
}